# =========================
# Frontend
# =========================

node_modules/
dist/
build/

# =========================
# Backend
# =========================

target/
.mvn/
*.class

# =========================
# Environment Files
# =========================

.env
.env.local

# =========================
# Logs
# =========================

*.log

# =========================
# IDE Files
# =========================

.vscode/
.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Package Locks
# =========================

package-lock.json

# =========================
# Maven Wrapper
# =========================

.mvn/wrapper/maven-wrapper.jar